html, body {
    background: #ECF0F3;
}
nav.navbar {
    border-top: 4px solid #276cda;
}
.menu-label {
    color: #8F99A3;
}
.menu-list a {
    color: #0F1D38;
}
.menu-list a:hover {
    color: #276cda;
}
.menu-list a.is-active {
    color: #276cda;
}
.card-header-title {
    color: #8F99A3;
}
.hero.welcome.is-info {
    background: #36D1DC;
    background: -webkit-linear-gradient(to right, #5B86E5, #36D1DC);
    background: linear-gradient(to right, #5B86E5, #36D1DC);
}
.info-tiles .subtitle {
    color: #8F99A3;
}
.hero.welcome .title, .hero.welcome .subtitle {
    color: hsl(192, 17%, 99%);
}
.card-footer-item {
    color: #8F99A3;
}