{{define "content"}}
<section class="hero is-info welcome is-small">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Alpha
            </h1>
            <h2 class="subtitle">
                This site is just an experiment to see if an idea to track Guild Trader listings in Elder Scrolls Online
                will work. Data may be inaccurate and the site may be unstable. Expect all data to be wiped completely during this phase if needed.
            </h2>
        </div>
    </div>
</section>
<section class="info-tiles">
    <div class="tile is-ancestor has-text-centered">
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{ .ListingsCount }}</p>
                <p class="subtitle">Listings</p>
            </article>
        </div>
        <div class="tile is-parent">
            <article class="tile is-child box">
                <p class="title">{{ .UpdatesCount }}</p>
                <p class="subtitle">Updates</p>
            </article>
        </div>
    </div>
</section>
<div class="columns">
    <div class="column is-12">
        <div class="card events-card">
            <header class="card-header">
                <p class="card-header-title">
                    Events
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                  <span class="icon">
                    <i class="fa fa-angle-down" aria-hidden="true"></i>
                  </span>
                </a>
            </header>
            <div class="card-table">
                <div class="content">
                    <table class="table is-fullwidth is-striped">
                        <tbody>
                        {{range $index, $update := .Updates}}
                            <tr>
                                <td width="5%"><i class="fa fa-bell-o"></i></td>
                                <td>{{ $update.Log }}</td>
                            </tr>
                        {{end}}
                        </tbody>
                    </table>
                </div>
            </div>
            <footer class="card-footer">
                <a href="/ledger/events" class="card-footer-item">View All</a>
            </footer>
        </div>
    </div>
</div>
{{ end }}