{{define "content"}}
    <section>
        {{ if gt .Offset 0 }}
            <a href="/ledger/listings/{{ .PrevOffset }}?search={{ .Search }}" class="button">Previous</a>
        {{ end }}
        {{ if gt (len .Listings) 0 }}
            <a href="/ledger/listings/{{ .NextOffset }}?search={{ .Search }}" class="button">Next</a>
        {{ end }}
        <table class="table">
            <thead>
            <tr>
                <th>Item Name</th>
                <th>Price</th>
                <th>Trader</th>
                <th>Seen</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <th>Item Name</th>
                <th>Price</th>
                <th>Trader</th>
                <th>Seen</th>
            </tr>
            </tfoot>
            <tbody>

            {{range $index, $listing := .Listings }}
                <tr>
                    <td>{{ $listing.ItemName }}</td>
                    <td>{{ $listing.PricePerUnit }} x {{ $listing.StackCount }} ({{ $listing.Price }})</td>
                    <td>{{ $listing.TraderName }} ({{ $listing.RegionName }}) by {{ $listing.SellerName }}</td>
                    <td>{{ $listing.SeenHumanReadable }}</td>
                </tr>

            {{end}}
            </tbody>
        </table>
        {{ if gt .Offset 0 }}
            <a href="/ledger/listings/{{ .PrevOffset }}?search={{ .Search }}" class="button">Previous</a>
        {{ end }}
        {{ if gt (len .Listings) 0 }}
            <a href="/ledger/listings/{{ .NextOffset }}?search={{ .Search }}" class="button">Next</a>
        {{ end }}
    </section>
{{ end }}